acao-semas/schemas/PSE/semas-ficha-especifica-do-creas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-especifica-do-creas.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-especifica-do-creas.xsd"
	elementFormDefault="qualified">

	<xs:element name="formFichaEspecificaCreas" type="formFichaEspecificaCreas">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>Ficha Específica do CREAS</xhtml:label>
				<class:classificacoes>
                    <class:classificacao>cn=Prog Enfrentamento a Violação de Direito,cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.numeronis" xpath="formFichaEspecificaCreas/numeronis"/>
                 </idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formFichaEspecificaCreas">
		<xs:sequence>

			<xs:element name="numeronis" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>NIS *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


			<xs:element name="identificacaoagressor">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Identificação do Agressor</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="conssubpsicoativ"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.1 Identificação *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Identificado" />
									<xs:enumeration value="Não-identificado" />
									<xs:enumeration value="Auto-negligente" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="qdeagressores"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.2 Quantidade de agressores *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="residemesmodom"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.3 Reside no mesmo domicílio *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="idade"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.4 Idade *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="menos 18 anos" />
								<xs:enumeration value="30 a 39 anos" />
								<xs:enumeration value="50 a 59 anos" />
								<xs:enumeration value="18 a 29 anos" />
								<xs:enumeration value="40 a 49 anos" />
								<xs:enumeration value="60 ou mais" />
								<xs:enumeration value="Não informado" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="relparentvitima"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.5 Apresenta relação de parentesco com a vítima *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="relparentvitafirm"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso afirmativo, assinalar abaixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Pai" />
									<xs:enumeration value="Mãe" />
									<xs:enumeration value="Padastro" />
									<xs:enumeration value="Madastra" />
									<xs:enumeration value="Irmão" />
									<xs:enumeration value="Irmã" />
									<xs:enumeration value="Filho" />
									<xs:enumeration value="Filha" />
									<xs:enumeration value="Companheiro" />
									<xs:enumeration value="Companheira" />
									<xs:enumeration value="Genro" />
									<xs:enumeration value="Nora" />
									<xs:enumeration value="Sobrinho" />
									<xs:enumeration value="Sobrinha" />
									<xs:enumeration value="Neto" />
									<xs:enumeration value="Neta" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="relparentvitneg"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso negativo, assinalar abaixo</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Vizinho" />
									<xs:enumeration value="Vizinha" />
									<xs:enumeration value="Cuidador" />
									<xs:enumeration value="Cuidadora" />
									<xs:enumeration value="Agregado" />
									<xs:enumeration value="Agregada" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="relparentvitnegoutr" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="indicalcooldroga"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.6 Apresenta indícios de uso de álcool/droga *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Ignorado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="indicalcooldrogaafirm" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tipo de substância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="indtranstornomensal"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7 Apresenta indícios de transtorno mensal *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Ignorado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="tipdenuncia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Tipo da Denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="abviolfis" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.1 Abuso, maus tratos ou violência física</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="abuviolpsico" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.2 Abuso, maus tratos ou violência psicológica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abuviolsex" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.3 Abuso ou violência sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="abandono" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.4 Abandono</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="neglig" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.5 Negligência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abufinecon" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.6 Abuso Financeiro e Econômico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="autoneglig" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.7 Auto-negligência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negliginstit" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.8 Negligência Institucional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="observ" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="origemdenuncia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Origem da Denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="oridenouvid" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.1 Ouvidorias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oridensemas" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.2 SEMAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridendasser" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.3 DAS/SER </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oridencras" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.4 CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenminpub" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.5 Ministério Público</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridencreas" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.6 CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridendiskdir" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.7 Disque Direitos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenoutra" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.8 Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenoutraesp" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="sitapresent" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Situação Apresentada</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="sitviolintrafamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>5. REGISTRO DE VOLUME DE SITUAÇÕES DE VIOLÊNCIA INTRAFAMILIAR 
									E OUTRAS VIOLAÇÕES DE DIREITOS </xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="crianAdolVioliFamMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.1. Criança ou adolescente vítimas de violência intrafamiliar, 
												especificado segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolVioliFamMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolVioliFamFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolVioliFamFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolAbusSexMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.2 - Crianças ou adolescentes vítimas de abuso sexual
													especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolAbusSexMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolAbusSexFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolAbusSexFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolExplSexMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.3 - Crianças ou adolescentes vítimas de exploração sexual,
												especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolExplSexMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolExplSexFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolExplSexFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolNegligAbanMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.4 - Crianças ou adolescentes vítimas de negligência ou abandono,
										especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolNegligAbanMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolNegligAbanFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolNegligAbanFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolTrabInfMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.5 - Crianças ou adolescentes em situação de trabalho infantil,
											especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolTrabInfMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolTrabInfFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="crianAdolTrabInfFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idosoVioliFamMasc"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.6 - Pessoas idosas – 60 anos ou mais – vítimas de violência
									intrafamiliar, especificada segundo o sexo - Masculino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idosoVioliFamFem"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idosoNegligAbanMasc"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.7 - Pessoas idosas – 60 anos ou mais – vítimas de negligência
									ou abandono, especificada segundo o sexo - Masculino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idosoNegligAbanFem"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.8 - Pessoas com deficiência, vítimas de violência intrafamiliar,
											especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamMasc1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamMasc60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamFem1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefVioliFamFem60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.9 - Pessoas com deficiência vítimas de negligencia ou 
									abandono, especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexMasc1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexMasc60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexFem1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDefViolNeglSexFem60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="mulvitviolifam"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.10 - Mulheres adultas (18 a 59 anos) vítimas de violência 
                                                                                        intrafamiliar (física, psicológica ou sexual) *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.11 - Pessoas vítimas de tráfico de seres humanos,
									especificada segundo o sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumMasc1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumMasc60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumFem1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesVitTrafSerHumFem60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDiscOrientSexMasc"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.12 - Pessoas vítimas de discriminação por orientação
                                                                                        sexual - Masculino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesDiscOrientSexFem"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaMasc012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5.13 - Pessoas em situação de rua, especificada segundo o
                                                                                    sexo - Masculino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaMasc1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaMasc1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaMasc60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Masculino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaFem012Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 0 a 12 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaFem1317Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 13 a 17 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaFem1859Anos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 18 a 59 anos*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="pesSitRuaFem60maisAnos"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino - 60 anos ou mais*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="adolMedSocioEduc">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>6. REGISTRO DE VOLUME DE ADOLESCENTES EM 
                                                        CUMPRIMENTO DE MEDIDAS SOCIOEDUCATIVAS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
<!-- ******************* -->

						<xs:element name="adolLiberAssistMasc"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.1 - Quantidade de adolescentes em cumprimento
                                                                                de Liberdade Assistida - LA - Masculino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="adolLiberAssistFem"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
<!-- ******************* -->

						<xs:element name="adolPSCMasc"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6.2 - Quantidade de adolescentes em cumprimento
                                                                            de Prestação de Serviços à Comunidade - PSC - Masculino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="adolPSCFem"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Feminino*</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
<!-- ******************* -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>



			<xs:element name="encamcaso"  minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>7. Encaminhamentos do Caso *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PAEFI" />
						<xs:enumeration value="PAEFI/PAE" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="encamoutroservs">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>8. Encaminhamentos para outros serviços</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="redesocassis"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Socioassistencial *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CRAS" />
									<xs:enumeration value="CREAS" />
									<xs:enumeration value="CCA" />
									<xs:enumeration value="CRM" />
									<xs:enumeration value="Casa de Passagem" />
									<xs:enumeration value="Entidade Conveniada" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="entidconveni" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual entidade conveniada?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="politinterset"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros serviços *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Saúde" />
									<xs:enumeration value="Educação" />
									<xs:enumeration value="SDE" />
									<xs:enumeration value="SDH" />
									<xs:enumeration value="Previdência Social" />
									<xs:enumeration value="Habitação" />
									<xs:enumeration value="SGD" />
									<xs:enumeration value="Outros" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						
						<xs:element name="politintersetoutro" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="evolucdocaso" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>9. Evolução do caso</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="tecrespons" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico(a) responsável *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="datcad" minOccurs="1" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
