acao-semas/schemas/PSE/semas-ficha-especifica-do-creas.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-especifica-do-creas.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/semas-ficha-especifica-do-creas.xsd"
	elementFormDefault="qualified">

	<xs:element name="formFichaEspecificaCreas" type="formFichaEspecificaCreas">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>Ficha Específica do CREAS</xhtml:label>
				<class:classificacoes>
                    <class:classificacao>cn=Prog Enfrentamento a Violação de Direito,cn=Proteção Social Especial,cn=Assistencia Social</class:classificacao>
				</class:classificacoes>
                <idx:index>
                    <idx:hint key="pessoa.numeronis" xpath="formFichaEspecificaCreas/numeronis"/>
                 </idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formFichaEspecificaCreas">
		<xs:sequence>

			<xs:element name="numeronis" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>NIS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="numerocpf" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>CPF*</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>


			<xs:element name="identificacaoagressor">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Identificação do Agressor</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="conssubpsicoativ"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.1 Autoria *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Identificada" />
									<xs:enumeration value="Não-identificada" />
									<xs:enumeration value="Auto-negligente" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="qdeagressores"  minOccurs="1" type="xs:integer">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.2 Quantidade de agressores *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="residemesmodom"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.3 Reside no mesmo domicílio *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="idade"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.4 Faixa etária *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="menos 18 anos" />
								<xs:enumeration value="30 a 39 anos" />
								<xs:enumeration value="50 a 59 anos" />
								<xs:enumeration value="18 a 29 anos" />
								<xs:enumeration value="40 a 49 anos" />
								<xs:enumeration value="60 ou mais" />
								<xs:enumeration value="Não informado" />
							</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="relparentvitima"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.5 Apresenta relação de parentesco com a vítima *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="relparentvitafirm"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso afirmativo, especifique *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>


							<xs:complexType>
								<xs:sequence>

									<xs:element name="pai"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pai</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="mae"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Mãe</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="padastro"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Padastro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="madastra"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Madastra</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="irmao"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Irmão</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="irma"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Irmã</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="filho"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Filho</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="filha"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Filha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="companheiro"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Companheiro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="companheira"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Companheira</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="genro"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Genro</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="nora"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nora</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="sobrinho"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sobrinho</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="sobrinha"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Sobrinha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="neto"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Neto</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="neta"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Neta</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="naplica"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Não se aplica</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>

						<xs:element name="relparentvitneg"  minOccurs="1">

							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Caso negativo, especifique *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>
								<xs:sequence>

									<xs:element name="vizinho"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Vizinho</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="vizinha"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Vizinha</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="cuidador"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cuidador</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="cuidadara"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Cuidadora</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agregado"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agregada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="agredada"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Agregada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>


						<xs:element name="relparentvitnegoutr" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="indusoalcdroga"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.6 Apresenta indícios de uso de álcool/droga *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Ignorado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="seindusoalcdroga" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se Sim, Tipo de substância</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="indtranstmental"  minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>1.7 Apresenta indícios de transtorno mental *</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
									<xs:enumeration value="Ignorado" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="seindtranstmental" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se Sim, Especifique</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>


			<xs:element name="tipdenuncia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Tipo da Denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="abviolfis" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.1 Abuso, maus tratos ou violência física</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="abuviolpsico" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.2 Abuso, maus tratos ou violência psicológica</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abuviolsex" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.3 Abuso ou violência sexual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="abandono" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.4 Abandono</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="neglig" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.5 Negligência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="abufinecon" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.6 Abuso Financeiro e Econômico</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="autoneglig" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.7 Auto-negligência</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="negliginstit" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.8 Negligência Institucional</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="observ" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Observações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
			
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			
			<xs:element name="origemdenuncia">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Origem da Denúncia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
					
						<xs:element name="oridenouvid" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.1 Ouvidorias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oridensemas" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.2 SEMAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridendasser" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.3 DAS/SER </xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="oridencras" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.4 CRAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenminpub" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.5 Ministério Público</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridencreas" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.6 CREAS</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridendiskdir" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.7 Disque Direitos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenoutra" minOccurs="0" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>3.8 Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						
						<xs:element name="oridenoutraesp" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>

			<xs:element name="sitviolintrafamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Situação Apresentada</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="sitapresent" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Situação Apresentada:</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>




			<xs:element name="sitviolintrafamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>5. REGISTRO DE VOLUME DE SITUAÇÕES DE VIOLÊNCIA INTRAFAMILIAR E OUTRAS VIOLAÇÕES DE DIREITOS </xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="criadolviolifamlbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança ou adolescentes em situações de violência ou violações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="criadolviolifam"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Criança ou adolescente vítimas de violência intrafamiliar(física ou psicológica)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="criadolviolifam012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolviolifam012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolviolifam012new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolviolifam1317new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="crianadolabussex"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Crianças ou adolescentes vítimas de abuso sexual *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="criadolabussex012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolabussex1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolabussex012new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolabussex1317new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="criadolexplsex"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Crianças ou adolescentes vítimas de exploração sexual *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="criadolexplsex012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolexplsex1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolexplsex012new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolexplsex1317new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="criadolneglaban"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Crianças ou adolescentes vítimas de negligência ou abandono *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="criadolneglaban012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolneglaban1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolneglaban012new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadolneglaban1317new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>


						<xs:element name="criadoltrabinflbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança ou adolescentes em situações de violência ou violações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="criadoltrabinf"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Crianças ou adolescentes em situação de trabalho infantil *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="criadoltrabinf012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadoltrabinf1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadoltrabinf012new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="criadoltrabinf1317new"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>


						<xs:element name="idositviolifamlbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Criança ou adolescentes em situações de violência ou violações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="idositviolifam"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas idosas – 60 anos ou mais – vítimas de violência intrafamiliar(física, psicológica ou sexual) *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="idositviolifamtot"  minOccurs="1" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="idositviolifamtotnew"  minOccurs="1" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="idositnegligaban"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas idosas – 60 anos ou mais – vítimas de negligência ou abandono*</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="idositnegligabantot"  minOccurs="1" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="idositnegligabantotnew"  minOccurs="1" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="pesdefviolifamlbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas com deficiência em situações de violência ou violações</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="pesdefviolifam"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas com deficiência, vítimas de violência intrafamiliar(física, psicológica ou sexual) *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="pesdefviolifam012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0 a 12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolifam1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13 a 17 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolifam1859"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>18 a 59 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolifam60"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>60 anos ou mais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolnegl"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas com deficiência vítimas de negligencia ou abandono *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Feminino" />
												<xs:enumeration value="Masculino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="pesdefviolnegl012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0-12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolnegl1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13-17 anos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolnegl1859"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>18-59 anos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesdefviolnegl60"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>60 anos ou mais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="muladuviolifamlbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mulheres adultas(18 a 59 anos) vítimas de violência intrafamiliar atendidas no PAEFI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="muladuviolifamtot"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="muladuviolifamtotnew"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total(novos)</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="pesvittrafserhumlbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas vítimas de tráficos de seres humanos atendidas no PAEFI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="pesvittrafserhum"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas vítimas de tráfico de seres humanos *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Masculino" />
												<xs:enumeration value="Feminino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="pesvittrafserhum012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0-12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesvittrafserhum1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13-17 anos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesvittrafserhum1859"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>18-59 anos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pesvittrafserhum60"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>60 anos ou mais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="pesdiscorientsexlbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas vítimas de discriminação por orientação sexual atendidas no PAEFI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="pesdiscorientsex"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Total</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="pessitrualbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Pessoas em situação de rua atendidas no PAEFI</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="pessitrua"  minOccurs="1">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Pessoas em situação de rua *</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Masculino" />
												<xs:enumeration value="Feminino" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="pessitrua012"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>0-12 anos</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pessitrua1317"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>13-17 anos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pessitrua1859"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>18-59 anos </xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pessitrua60"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>60 anos ou mais</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="voladolcumprmedsocedulbl">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Volume de adolescentes em cumprimento de Medidas Socioeducativas</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="qdeadolibassist"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade de adolescentes em cumprimento de Liberdade Assistida - LA</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="pessitrua60"  minOccurs="0" type="xs:integer">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quantidade de adolescentes em cumprimento de Prestação de Serviços à Comunidade - PSC</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>


			<xs:element name="encamcaso"  minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>6. Encaminhamentos do Caso *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PAEFI" />
						<xs:enumeration value="PAE" />
						<xs:enumeration value="PAEFI/PAE" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="encamoutroservs">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>7. Encaminhamentos para outros serviços</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="redesocassist">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Rede Socioassistencial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="redcras"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CRAS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="redcreas"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CREAS</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="redcca"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CCA</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="redcrm"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>CRM</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Casa de Passagem</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="enticonven"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Entidade Conveniada</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="entidconvenqual" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Qual?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<xs:element name="politinterset">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Políticas intersetoriais</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Saúde</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Educação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>SDE</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>SDH</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Previdência Social</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>


									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Habitação</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>SGD</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="caspassg"  minOccurs="0" type="xs:boolean">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="politintersetoutro" minOccurs="0" type="xs:string">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Especifique outros</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>


					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="evolucdocaso" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>8. Evolução do caso</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="tecrespons" minOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Técnico(a) responsável *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="datcad" minOccurs="1" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data *</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

</xs:schema>
