acao-pronasci/schemas/mulheresPaz/gmf-pronasci-FormularioInscricao-mulheresPaz.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/gmf-pronasci-formularioinscricao-mulherespaz.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/gmf-pronasci-formularioinscricao-mulherespaz.xsd"
	elementFormDefault="qualified">

	<xs:element name="formMulheresDaPazFormularioInscricao" type="formMulheresDaPazFormularioInscricao">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>01. FORMULÁRIO DE INSCRIÇÃO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Mulheres da Paz,cn=Infância e Adolescência,cn=Segurança Pública</class:classificacao>
				</class:classificacoes>
				<idx:index>
					<idx:hint key="pessoa.nome" xpath="formMulheresDaPazFormularioInscricao/dadosPessoais/nome" />
                    <idx:hint key="pessoa.rg" xpath="formMulheresDaPazFormularioInscricao/dadosPessoais/registroGeral" />
                    <idx:hint key="pessoa.cpf" xpath="formMulheresDaPazFormularioInscricao/dadosPessoais/cpf" />
                    <idx:hint key="pessoa.nome" xpath="formMulheresDaPazFormularioInscricao/dadosPessoais/referenciasPessoais/referenciaVizinho/nome" />
                    <idx:hint key="pessoa.nome" xpath="formMulheresDaPazFormularioInscricao/dadosPessoais/referenciasPessoais/referenciaTrabalho/nome" />
				</idx:index>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formMulheresDaPazFormularioInscricao">
		<xs:sequence>

<!-- 			<xs:element name="numeroInscricao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número de inscrição:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element> -->			
			<xs:element name="dadosPessoais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>1. Dados Pessoais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nome" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Nome</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataNascimento" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data Nascimento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="registroGeral" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>RG</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="dataExpedicao" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Data expedição</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="orgaoExpedidor" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Órgão</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<!-- Begin field selectBox -->	
						<xs:element name="estadoUF"  minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>UF</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Acre" />
									<xs:enumeration value="Alagoas" />
									<xs:enumeration value="Amapá" />
									<xs:enumeration value="Amazonas" />
									<xs:enumeration value="Bahia" />
									<xs:enumeration value="Ceará" />
									<xs:enumeration value="Distrito Federal" />
									<xs:enumeration value="Espírito Santo" />
									<xs:enumeration value="Goiás" />
									<xs:enumeration value="Maranhão" />
									<xs:enumeration value="Mato Grosso" />
									<xs:enumeration value="Mato Grosso do Sul" />
									<xs:enumeration value="Minas Gerais " />
									<xs:enumeration value="Pará" />
									<xs:enumeration value="Paraíba" />
									<xs:enumeration value="Paraná" />
									<xs:enumeration value="Pernambuco" />
									<xs:enumeration value="Piauí" />
									<xs:enumeration value="Rio de Janeiro" />
									<xs:enumeration value="Rio Grande do Norte" />
									<xs:enumeration value="Rio Grande do Sul" />
									<xs:enumeration value="Rondônia" />
									<xs:enumeration value="Roraima" />
									<xs:enumeration value="São Paulo " />
									<xs:enumeration value="Sergipe" />
									<xs:enumeration value="Tocantins" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field selectBox -->
						
						
						<!-- Begin  input CPF com Mascara -->
						<xs:element name="cpf" minOccurs="0">
						        <xs:annotation>
						                <xs:appinfo>
						                        <xhtml:label>CPF</xhtml:label>
						                </xs:appinfo>
						        </xs:annotation>
						        <xs:simpleType>
						                <xs:restriction base="xs:string">
						                        <xs:maxLength value="255" />
						                        <xs:pattern value="[0-9]+"/>
						                </xs:restriction>
						        </xs:simpleType>
						</xs:element>
						<!-- End input CPF com Mascara  -->

						<xs:element name="titulo" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Título de eleitor</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="endereco" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Endereço</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/enderecos</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<!-- Begin field Input Text -->	
						<xs:element name="numero" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Número</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
										

						<!-- Begin field Input Text -->	
						<xs:element name="complemento" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Complemento</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
						
						
						<xs:element name="bairro" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Bairro</xhtml:label>
								</xs:appinfo>
								<xsdext:extensions>
									<xsdext:engine>autoComplete</xsdext:engine>
									<xsdext:service>/bairros</xsdext:service>
								</xsdext:extensions>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<!-- Begin field Input Text -->	
						<xs:element name="tempodemoradia" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Tempo de Moradia</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
						
						<xs:element name="cep" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CEP</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<!-- Begin field Input Text -->	
						<xs:element name="telefone" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Telefone</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
								
						<!-- Begin field Input Text -->	
						<xs:element name="celular" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Celular</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
						
						<xs:element name="email" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>E-mail</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<!-- REFERÊNCIAS PESSOAIS -->
			<xs:element name="referenciasPessoais">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Referências Pessoais</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="referenciaVizinho" minOccurs="0"
							maxOccurs="3">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Vizinhos</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="nome">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nome</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="telefone">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Telefone</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="referenciaTrabalho" minOccurs="0" maxOccurs="3">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Do Trabalho</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="nome">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Nome</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="telefone">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Telefone</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<!--DADOS DE ESCOLARIDADE -->
			<xs:element name="dadosEscolaridade">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>2. Escolaridade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>

					<xs:sequence>

						<xs:element name="escolaridade" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.1 Escolaridade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Ensino básico (1ª a 4ª série) completo" />
									<xs:enumeration value="Ensino básico (1ª a 4ª série) incompleto" />
									<xs:enumeration value="Ensino fundamental (5ª a 8ª série) completo" />
									<xs:enumeration value="Ensino fundamental (5ª a 8ª série) incompleto" />
									<xs:enumeration value="Ensino médio (2º grau) completo" />
									<xs:enumeration value="Ensino médio (2º grau) incompleto" />
									<xs:enumeration value="Ensino superior completo" />
									<xs:enumeration value="Ensino superior incompleto" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="estudaAtualmente" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.2 Estuda atualmente(escola, curso, profissionalizante etc.)?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="turno" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>2.3 Em que turno você estuda atualmente?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Manhã" />
									<xs:enumeration value="Tarde" />
									<xs:enumeration value="Noite" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>

			<!-- DADOS DA CONFIGURAÇÃO FAMILIAR -->
			<xs:element name="configuracaoFamiliar">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>3. Configuração Familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="estadoCivil" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Estado civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Solteira" />
									<xs:enumeration value="Casada" />
									<xs:enumeration value="União estável" />
									<xs:enumeration value="Viúva" />
									<xs:enumeration value="Divorciada" />									
									<xs:enumeration value="Separada judicialmente" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="filhos" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Filho(s)</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Não" />
									<xs:enumeration value="Sim" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="quantidadeFilhos" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quantos?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="idadeFilhos" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quais as idades deles?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="comQuemMora" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Com quem você mora?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>

			<xs:element name="dadosTrabalho">

				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>4. Trabalho</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>

					<xs:sequence>

						<xs:element name="trabalhaAtualmente" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Está trabalhando atualmente?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


					
					<!-- Begin field selectBox -->	
					<xs:element name="possuivinculoformal"  minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Se está trabalhando qual o vínculo com o trabalho</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Formal" />
								<xs:enumeration value="Informal" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- End field selectBox -->
					-
						

						<xs:element name="ondeTrabalha" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Onde você trabalha?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="queFaz" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>O Que faz?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="horarioTrabalho" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual o seu horário de trabalho?(dia e horário)
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="valorSalario" type="xs:float" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Qual o valor do seu salário?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>


						<!--Trabalho  -->
						<xs:element name="quemTrabalha" minOccurs="0"
							maxOccurs="10">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Quem trabalha na sua família e quanto ganha?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									
									<!-- Begin field selectBox -->	
									<xs:element name="membroFamilia"  minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Membro da família</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string" >
											    <xs:enumeration value="A própria"/>
											    <xs:enumeration value="Companheiro(a)" />
											    <xs:enumeration value="Enteado(a)" />
											    <xs:enumeration value="Genro/Nora" />
											    <xs:enumeration value="Neto(a)" />
											    <xs:enumeration value="Filho(a)" />
											    <xs:enumeration value="Pai/Mãe" />
											    <xs:enumeration value="Sogro(a)" />
											    <xs:enumeration value="Irmão/Irmã" />
											    <xs:enumeration value="Outros Familiares" />
											    <xs:enumeration value="Outros não Familiares" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<!-- End field selectBox -->
									
									
									<!-- Begin field selectBox -->	
									<xs:element name="faixaSalarial"  minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Faixa Salarial</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Até um quarto de salário mínimo" />
												<xs:enumeration value="Até meio salário mínimo" />
												<xs:enumeration value="Até um salário mínimo" />
												<xs:enumeration value="Até dois salários mínimo" />
												<xs:enumeration value="Até três salários mínimo" />
												<xs:enumeration value="Acima de três salários mínimo" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<!-- End field selectBox -->
									
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<!-- END Trabalho  -->

						<xs:element name="cadastroUnicoGoverno" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Você/sua família estão no Cadastro Único do Governo Federal?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="recebemBeneficios" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Você/sua família recebem benefício social?</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Sim" />
									<xs:enumeration value="Não" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>


						<!-- Begin field Input Text -->	
						<xs:element name="beneficioQual" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Se sim para pergunta acima, especifique qual</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
						

						<xs:element name="profissional">

							<xs:annotation>
								<xs:appinfo>
									<xhtml:label></xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>

								<xs:sequence>

									<xs:element name="ultimaExperienciaProfissional" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>4.1 Se você não está trabalhando atualmente,
													qual foi sua última experiência profissional?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

									</xs:element>

									<xs:element name="rendaMediaFamilia" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>4.2 Você confirma que a renda média da sua
													família é menor ou igual a 2 salários mínimos?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
											</xs:restriction>
										</xs:simpleType>

									</xs:element>

								</xs:sequence>
							</xs:complexType>

						</xs:element>

						<!-- TIPO DE ATUAÇÃO NA COMUNIDADE -->

						<xs:element name="atuacaoComunidade">

							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>5. Tipo de atuação na comunidade</xhtml:label>
								</xs:appinfo>
							</xs:annotation>

							<xs:complexType>

								<xs:sequence>

									<xs:element name="participa" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Participa de movimento/organização comunitária
													(Conselhos, Comissões, Comitês, Grupos de
													Trabalho, Fóruns, Associações, trabalho voluntário)?
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>

										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Sim" />
												<xs:enumeration value="Não" />
												<xs:enumeration value="Já Participei" />
											</xs:restriction>
										</xs:simpleType>

									</xs:element>

									<xs:element name="participaMovimentos" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Quais?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>

									<xs:element name="tempoParticipacao" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>Há quanto tempo?</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>

						</xs:element>

						<xs:element name="disponibilidadeProjeto">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>6. Disponibilidade para o projeto</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="descricaoDisponibilidadeProjeto" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="sobreAtuacaoComunidade">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>7. Fale sobre sua atuação na sua comunidade
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="descricaoSobreAtuacaoComunidade" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="razaoParaSerMulherDaPaz">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>8. Porque razão você deve ser uma mulher da Paz?
									</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="descricaoRazaoParaSerMulherDaPaz" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>
												<xhtml:label>
												</xhtml:label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>


						<!-- Begin field Input Text -->	
						<xs:element name="respaplicacaoquest" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Responsável pela aplicação do questionário</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->

						<!-- Begin field Input Text -->	
						<xs:element name="respdigitacao" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Responsável pela Digitação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- End field Input Text -->
						
						

					</xs:sequence>
				</xs:complexType>

			</xs:element>

		</xs:sequence>

	</xs:complexType>

</xs:schema>
