acao-sdh/schemas/Direitos_Humanos/violencia_denuncia/sdh-raiz-mediacao.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh-raizmediacao.xsd"
	xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh-raizmediacao.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	elementFormDefault="qualified">

	<xs:element name="formRaizMediacao" type="formRaizMediacao">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>RAIZ MEDIAÇÃO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Atendimento,cn=Direitos Humanos</class:classificacao>
				</class:classificacoes>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="formRaizMediacao">
		<xs:sequence>

			<xs:element name="orientsexual" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual a Raiz de Cidadania? </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Raiz Pirambu" />
						<xs:enumeration value="Raiz Floresta" />
						<xs:enumeration value="Raiz Mucuripe" />
						<xs:enumeration value="Raiz Pio XII" />
						<xs:enumeration value="Raiz Antônio Bezerra" />
						<xs:enumeration value="Raiz Bela Vista" />
						<xs:enumeration value="Raiz Quintino Cunha" />
						<xs:enumeration value="Raiz Planalto Pici" />
						<xs:enumeration value="Raiz Serrinha" />
						<xs:enumeration value="Raiz Vila União" />
						<xs:enumeration value="Raiz Bom Jardim" />
						<xs:enumeration value="Raiz Conjunto Ceará" />
						<xs:enumeration value="Raiz José Walter" />
						<xs:enumeration value="Raiz Mondubim" />
						<xs:enumeration value="Raiz Conjunto Palmeiras" />
						<xs:enumeration value="Raiz Lagoa Redonda" />
						<xs:enumeration value="Raiz São Cristóvão" />																													
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="regionalRaiz" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Regional da RAIZ</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SER I" />
						<xs:enumeration value="SER II" />
						<xs:enumeration value="SER III" />
						<xs:enumeration value="SER IV" />
						<xs:enumeration value="SER V" />
						<xs:enumeration value="SER VI" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>		
			<xs:element name="dataAtendimento" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data do atendimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>	
			
			<xs:element name="nomeDoAtendimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome do atendido</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
	
			<xs:element name="houvePreMediacaoAtend" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Houve Pré-Mediação com atendido?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			
            <xs:element name="convidados" maxOccurs="50">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Convidados</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
                 <xs:sequence>
			        <xs:element name="nomeConvidado" minOccurs="0" >
				        <xs:annotation>
					        <xs:appinfo>
						        <xhtml:label>Nome do convidado</xhtml:label>
					        </xs:appinfo>
				        </xs:annotation>
				        <xs:simpleType>
					        <xs:restriction base="xs:string">
						        <xs:maxLength value="255" />
					        </xs:restriction>
				        </xs:simpleType>
			        </xs:element>
			        <xs:element name="houvePreMediacao" minOccurs="0">
				        <xs:annotation>
					        <xs:appinfo>
						        <xhtml:label>Houve Pré-Mediação?</xhtml:label>
					        </xs:appinfo>
				        </xs:annotation>
				        <xs:simpleType>
					        <xs:restriction base="xs:string">
						        <xs:enumeration value="Sim" />
						        <xs:enumeration value="Não" />
					        </xs:restriction>
				        </xs:simpleType>
			        </xs:element>
			<xs:element name="endereco" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Endereço</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			

			<xs:element name="bairro" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Bairro</xhtml:label>
					</xs:appinfo>
					<xsdext:extensions>
						<xsdext:engine>autoComplete</xsdext:engine>
						<xsdext:service>/bairros</xsdext:service>
					</xsdext:extensions>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="regional" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Regional</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SER I" />
						<xs:enumeration value="SER II" />
						<xs:enumeration value="SER III" />
						<xs:enumeration value="SER IV" />
						<xs:enumeration value="SER V" />
						<xs:enumeration value="SER VI" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="telefone" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Telefone</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
                 </xs:sequence>
                </xs:complexType>
              </xs:element>	

			<xs:element name="nrProcedimento" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Número do procedimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>									
			
                <xs:element name="questaoAbordada" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Qual a questão abordada?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="direitoDaFamilia" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Direito das Famílias</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
				<xs:element name="direitosDaFamilia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Escolha direito da familia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Pensão Alimentícia" />
						<xs:enumeration value="Separação" />
						<xs:enumeration value="Guarda" />
						<xs:enumeration value="Poder Familiar" />
						<xs:enumeration value="Inventário" />
                        <xs:enumeration value="Homofobia - discriminação por orientação sexual no âmbito familiar" />

					</xs:restriction>
				</xs:simpleType>
			</xs:element>

						<xs:element name="direitoDeVizinhanca" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Direito de Vizinhança</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

						<xs:element name="mediacaoDeConflitosEscolares" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Mediação de conflitos escolares</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
				        <xs:element name="especifiqueConflitosEscolares" minOccurs="0">
				        <xs:annotation>
					        <xs:appinfo>
						        <xhtml:label>Escolha conflitos escolares</xhtml:label>
					        </xs:appinfo>
				        </xs:annotation>
				        <xs:simpleType>
					        <xs:restriction base="xs:string">
						        <xs:enumeration value="Bullying Escolar" />
					        </xs:restriction>
				        </xs:simpleType>
			        </xs:element>
						<xs:element name="direitoCivil" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Direito Civil</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
				        <xs:element name="especifiqueDireitoCivil" minOccurs="0">
				        <xs:annotation>
					        <xs:appinfo>
						        <xhtml:label>Escolha Direito Civil</xhtml:label>
					        </xs:appinfo>
				        </xs:annotation>
				        <xs:simpleType>
					        <xs:restriction base="xs:string">
						        <xs:enumeration value="Usucapião" />
					        </xs:restriction>
				        </xs:simpleType>
			        </xs:element>

						<xs:element name="outros" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>						

						<xs:element name="especOutros" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="sinteseCaso" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Síntese do caso</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>		

			<xs:element name="houveMediacao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Houve Mediação?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>	
			
			<xs:element name="resultado" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Resultado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>			
			
 				<xs:element name="encaminhamentos" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Encaminhamentos</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
                 <xs:sequence>
                        <xs:element name="CREAS" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS - Centro de Referência Especializado da Assistência Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="DPGE" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>DPGE - Defensoria Pública do Estado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="MPF" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>MPF - Ministério Público do Estado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="CRAS" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CRAS - Centro de Referência da Assistênpentahocia Social</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="DPU" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>DPU - Defensoria Pública da União</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="COSP" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Controladoria dos Órgãos de Seg. Público</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="CREASPOP" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS POP - Centro de Referência Especializado da Assistência Social para População de Rua</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="MPE" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>MPE - Ministério Público do Estado</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="SEJUS" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SEJUS - Secretaria de justiça do Estado do Ceará</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="HABITAFOR" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>HABITAFOR - Fundação de Desenvolvimento Habitacional de Fortaleza</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="consTutelar" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Conselho Tutelar</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="raiz" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Raiz de Cidadania</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="STDS" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>STDS - Secretaria do Trabalho e Desenvolvimento Social do Estado do Ceará</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="CREASReg" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CREAS Regional - Centro de Referência Especializado da Assistência Social do Estado do Ceará</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="CAPS" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>CAPS - Centros de Atenção Psicossocial</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="PS" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Posto de Saúde</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="hospital" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Hospital</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="SME" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SME - Secretaria Municipal de Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="SEDUC" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>SEDUC - Secretaria Estadual de Educação</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
                        <xs:element name="outroEnc" type="xs:boolean">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
		            	<xs:element name="espeOutrosEnc" minOccurs="0" type="xs:string">
							<xs:annotation>
								<xs:appinfo>
									<xhtml:label>Especifique Outros</xhtml:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>			
                 </xs:sequence>
				</xs:complexType>
			</xs:element>

				
		</xs:sequence>
	</xs:complexType>

</xs:schema>
