acao-sdh/schemas/Direitos_Humanos/DDH/sdh-dados-violador-ddh.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh_dados_violador_ddh.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh_dados_violador_ddh.xsd"
    elementFormDefault="qualified">
        
        <!-- Begin  -->    
        <xs:element name="dadosViolador" type="dadosViolador">
            <xs:annotation>
                <xs:appinfo>
                    <xhtml:label>5 - DADOS DO VIOLADOR</xhtml:label>
                    <class:classificacoes>
                        <class:classificacao>cn=DDH,cn=Atendimento,cn=Direitos Humanos</class:classificacao>
                    </class:classificacoes>
                        <idx:index>
                            <idx:hint key="pessoa.nome" xpath="dadosViolador/nome" />
                            <idx:hint key="pessoa.nome" xpath="dadosViolador/nomeSocial" />
                        </idx:index>
                </xs:appinfo>
            </xs:annotation>
        </xs:element>        
        
        <xs:complexType name="dadosViolador">
            <xs:sequence>

                
                <!-- Begin fieldset - fieldsetDadosViolador -->    
                <xs:element name="fieldsetDadosViolador" minOccurs="0" maxOccurs="10" >
                    <xs:annotation>
                        <xs:appinfo>
                            <xhtml:label>Dados do Violador</xhtml:label>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                              <!-- Begin field Input Text -->    
                              <xs:element name="nome" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Nome</xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End field Input Text -->


                              <!-- Begin field Input Text -->    
                              <xs:element name="nomeSocial" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Nome Social</xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End field Input Text -->
                            <!-- Begin  complexType -->
                              <xs:element name="ondePodeEncontrar">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Onde pode ser encontrado  </xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:complexType>
                                      <xs:sequence>

                                          <!-- Begin field checkbox -->        
                                          <xs:element name="trabalho" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Trabalho</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                          <!-- End field checkbox-->    
                                          <!-- Begin field checkbox -->        
                                          <xs:element name="casa" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Casa</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                          <!-- End field checkbox-->                            
                                          <!-- Begin field checkbox -->        
                                          <xs:element name="casaParente" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Casa de parente</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                         
                                          <!-- End field checkbox-->  
                                          <!-- Begin field checkbox -->        
                                          <xs:element name="naRua" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Na rua</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                         
                                          <!-- End field checkbox--> 

                                           
                                           <!-- Begin field checkbox -->        
                                          <xs:element name="outros" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Outros</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>



                                          <!-- Begin field Input Text -->    
                                          <xs:element name="especifiqueOutros" minOccurs="0">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Se Outros Especifique Qual</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                      <xs:maxLength value="255" />
                                                  </xs:restriction>
                                              </xs:simpleType>
                                          </xs:element>
                                          <!-- End field Input Text -->                                                        

                                      </xs:sequence>
                                  </xs:complexType>
                              </xs:element>

                               <!-- Begin  autocomplete -->
                               <xs:element name="endereco" minOccurs="0">
                                   <xs:annotation>
                                       <xs:appinfo>
                                           <xhtml:label>Endereço</xhtml:label>
                                       </xs:appinfo>
                                       <xsdext:extensions>
                                           <xsdext:engine>autoComplete</xsdext:engine>
                                           <xsdext:service>/enderecos</xsdext:service>
                                       </xsdext:extensions>                                
                                   </xs:annotation>
                                   <xs:simpleType>
                                       <xs:restriction base="xs:string">
                                           <xs:maxLength value="255" />
                                       </xs:restriction>
                                   </xs:simpleType>
                               </xs:element>
                               <!-- End  autocomplete-->

                              <!-- Begin  autocomplete -->
                              <xs:element name="bairro" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Bairro</xhtml:label>
                                      </xs:appinfo>
                                      <xsdext:extensions>
                                          <xsdext:engine>autoComplete</xsdext:engine>
                                          <xsdext:service>/bairros</xsdext:service>
                                      </xsdext:extensions>                                
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End  autocomplete-->
                              


                              <!-- Begin field Input Text -->    
                              <xs:element name="pontoReferencia" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Ponto de referência </xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End field Input Text -->

                                      <!-- Begin field selectBox -->  
                              <xs:element name="regional"  minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Regional</xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:enumeration value="SER I" />
                                          <xs:enumeration value="SER II" />
                                          <xs:enumeration value="SER III" />
                                          <xs:enumeration value="SER IV" />
                                          <xs:enumeration value="SER V" />
                                          <xs:enumeration value="SER VI" />
                                          <xs:enumeration value="SER CENTRO" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element> 

                            <!-- Begin field checkbox -->        
                                  <xs:element name="rvfamilar" minOccurs="0" type="xs:boolean">
                                      <xs:annotation>
                                          <xs:appinfo>
                                              <xhtml:label>I. Familiar</xhtml:label>
                                          </xs:appinfo>
                                      </xs:annotation>
                                  </xs:element>
                                  <!-- End field checkbox--> 

                                  <!-- Begin  complexType -->
                                  <xs:element name="relacaoVitima">
                                      <xs:annotation>
                                          <xs:appinfo>
                                              <xhtml:label>I.1 Relação com a Vítima se Familiar</xhtml:label>
                                          </xs:appinfo>
                                      </xs:annotation>
                                      <xs:complexType>
                                          <xs:sequence>

                                        
                                              
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="mae" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Mãe</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox-->    
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="pai" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Pai</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox-->                            
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="responsavelLegal" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Responsável Legal</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox-->  
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="marido" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Marido</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="mulher" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Mulher</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="filho" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Filho</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox-->
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="filha" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Filha</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="avo1" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Avô</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="avo2" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Avó</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="irmao" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Irmão</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox-->
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="irma" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Irmã</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="cunhado" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Cunhado</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="cunhada" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Cunhada</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="genro" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Genro</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox--> 
                                               <!-- Begin field checkbox -->        
                                              <xs:element name="nora" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Nora</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="sobrinho" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Sobrinho</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="sobrinha" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>sobrinha</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                               <!-- Begin field checkbox -->        
                                              <xs:element name="primo" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Primo</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="prima" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>prima</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="sogro" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Sogro</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="sogra" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Sogra</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="neto" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Neto</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                               <!-- Begin field checkbox -->        
                                              <xs:element name="neta" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Neta</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox--> 
                                               <!-- Begin field checkbox -->        
                                              <xs:element name="tio" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Tio</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                             <!-- Begin field checkbox -->        
                                              <xs:element name="tia" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Tia</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="padrasto" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Padrato</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                           
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="madrasta" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Madasta</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>                          
                                              <!-- End field checkbox--> 
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="enteado" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Enteado</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- Begin field checkbox -->        
                                              <xs:element name="enteada" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Enteada</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox--> 
                                               <!-- Begin field checkbox -->        
                                              <xs:element name="bisneto" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Bisneto</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                               <!-- Begin field checkbox -->        
                                              <xs:element name="bisneta" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>Bisneta</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element> 
                                              <!-- Begin field checkbox -->        

                                              </xs:sequence>    
                                          </xs:complexType>
                                      </xs:element>
                                              <xs:element name="semParentesco" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>II. Sem parentesco</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox-->        


                                              <!-- Begin fieldset - vizinhoFieldset -->    
                                              <xs:element name="vizinhoFieldset" minOccurs="0" >
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>II.1 Relação com a Vítima se Sem parentesco</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                       <!-- Begin field checkbox -->        
                                                      <xs:element name="vizinho" minOccurs="0" type="xs:boolean">
                                                          <xs:annotation>
                                                              <xs:appinfo>
                                                                  <xhtml:label>Vizinho</xhtml:label>
                                                              </xs:appinfo>
                                                          </xs:annotation>
                                                      </xs:element>
                                                      <!-- End field checkbox-->        
                                                      
                                                      <!-- Begin field checkbox -->        
                                                      <xs:element name="vizinha" minOccurs="0" type="xs:boolean">
                                                          <xs:annotation>
                                                              <xs:appinfo>
                                                                  <xhtml:label>Vizinha</xhtml:label>
                                                              </xs:appinfo>
                                                          </xs:annotation>
                                                      </xs:element>
                                                      <!-- End field checkbox-->      

                                                        <!-- Begin field checkbox -->        
                                                        <xs:element name="chefe" minOccurs="0" type="xs:boolean">
                                                            <xs:annotation>
                                                                <xs:appinfo>
                                                                    <xhtml:label>Chefe</xhtml:label>
                                                                </xs:appinfo>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <!-- End field checkbox-->  


                                                            <!-- Begin field checkbox -->        
                                                              <xs:element name="colega" minOccurs="0" type="xs:boolean">
                                                                  <xs:annotation>
                                                                      <xs:appinfo>
                                                                          <xhtml:label>Colega Trabalho</xhtml:label>
                                                                      </xs:appinfo>
                                                                  </xs:annotation>
                                                              </xs:element>
                                                              <!-- End field checkbox-->        
                                                              
                                                                <!-- Begin field checkbox -->        
                                                                <xs:element name="colegaEscola" minOccurs="0" type="xs:boolean">
                                                                    <xs:annotation>
                                                                        <xs:appinfo>
                                                                            <xhtml:label>Colega da Escola</xhtml:label>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <!-- End field checkbox-->        
                                                                    
                                                                  <!-- Begin field checkbox -->        
                                                                   <xs:element name="professor" minOccurs="0" type="xs:boolean">
                                                                      <xs:annotation>
                                                                          <xs:appinfo>
                                                                              <xhtml:label>Professor</xhtml:label>
                                                                          </xs:appinfo>
                                                                      </xs:annotation>
                                                                   </xs:element>
                                                                  <!-- End field checkbox-->        
                                                                          
                                                                <!-- Begin field checkbox -->        
                                                                <xs:element name="professora" minOccurs="0" type="xs:boolean">
                                                                    <xs:annotation>
                                                                        <xs:appinfo>
                                                                            <xhtml:label>Professora</xhtml:label>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <!-- End field checkbox-->   
                                                      </xs:sequence>    
                                                  </xs:complexType>
                                              </xs:element>
                                              
                                              <!-- End fieldset - vizinhoFieldset -->    

                                              <!-- Begin field checkbox -->        
                                              <xs:element name="agentePublico" minOccurs="0" type="xs:boolean">
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>III. Agente Públicos</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                              </xs:element>
                                              <!-- End field checkbox--> 

                                              <!-- Begin fieldset -  -->    
                                              <xs:element name="agentePublicoFieldset" minOccurs="0" >
                                                  <xs:annotation>
                                                      <xs:appinfo>
                                                          <xhtml:label>III.1 Relação com a Vítima se Agente Público</xhtml:label>
                                                      </xs:appinfo>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                      <xs:sequence>
                                                          <!-- Begin field checkbox -->        
                                                          <xs:element name="policia" minOccurs="0" type="xs:boolean">
                                                              <xs:annotation>
                                                                  <xs:appinfo>
                                                                      <xhtml:label>Polícia</xhtml:label>
                                                                  </xs:appinfo>
                                                              </xs:annotation>
                                                          </xs:element>
                                                          <!-- End field checkbox-->        
                                                          
                                                          <!-- Begin field checkbox -->        
                                                          <xs:element name="guardaMunicipal" minOccurs="0" type="xs:boolean">
                                                              <xs:annotation>
                                                                  <xs:appinfo>
                                                                      <xhtml:label>Guarda Municipal</xhtml:label>
                                                                  </xs:appinfo>
                                                              </xs:annotation>
                                                          </xs:element>
                                                          <!-- End field checkbox-->        
                                                          
                                                          <!-- Begin field checkbox -->        
                                                          <xs:element name="segurancaParticular" minOccurs="0" type="xs:boolean">
                                                              <xs:annotation>
                                                                  <xs:appinfo>
                                                                      <xhtml:label>Segurança Particular</xhtml:label>
                                                                  </xs:appinfo>
                                                              </xs:annotation>
                                                          </xs:element>
                                                          <!-- End field checkbox-->        
                                                          
                                                          <!-- Begin field checkbox -->        
                                                          <xs:element name="desconhecido" minOccurs="0" type="xs:boolean">
                                                              <xs:annotation>
                                                                  <xs:appinfo>
                                                                      <xhtml:label>Desconhecido</xhtml:label>
                                                                  </xs:appinfo>
                                                              </xs:annotation>
                                                          </xs:element>
                                                          <!-- End field checkbox-->   
                                                      </xs:sequence>    
                                                  </xs:complexType>
                                              </xs:element>
                                              
                                              <!-- End fieldset -  -->     
                        </xs:sequence>    
                    </xs:complexType>
                </xs:element>
                
                <!-- End fieldset - fieldsetDadosViolador -->    
               
            </xs:sequence>
        </xs:complexType>
        <!-- End  -->    
        
</xs:schema>   
