acao-sdh/schemas/Direitos_Humanos/DDH/sdh-sintese-do-caso-ddh.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh_resumo_violacao_ddh.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh_resumo_violacao_ddh.xsd"
    elementFormDefault="qualified">
        
        <!-- Begin  -->    
        <xs:element name="resumoViolacao" type="resumoViolacao">
            <xs:annotation>
                <xs:appinfo>
                    <xhtml:label>1 - RESUMO DA VIOLAÇÃO</xhtml:label>
                    <class:classificacoes>
                        <class:classificacao>cn=DDH,cn=Atendimento,cn=Direitos Humanos</class:classificacao>
                    </class:classificacoes>
                        <idx:index>
                            <idx:hint key="pessoa.nome" xpath="resumoViolacao/dadosDenunciantes/nome" />
                            <idx:hint key="pessoa.nome" xpath="resumoViolacao/dadosDenunciantes/nomeSocial" />
                        </idx:index>
                </xs:appinfo>
            </xs:annotation>
        </xs:element>        
        
        <xs:complexType name="resumoViolacao">
            <xs:sequence>

                    <!-- Begin field Input Text -->    
                    <xs:element name="protocolo" minOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>1. Número do Protocolo</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="15" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <!-- End field Input Text -->
                    

           
                    <!-- Begin field selectBox -->  
                    <xs:element name="turnoLigacao"  minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>2. Turno da ligação</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Manhã" />
                                <xs:enumeration value="Tarde" />
                                <xs:enumeration value="Noite" />
                                <xs:enumeration value="Madrugada" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <!-- End field selectBox -->


                    <!-- Begin field selectBox -->  
                    <xs:element name="diaAtendimento"  minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>3. Dia do Atendimento</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Segunda-feira" />
                                <xs:enumeration value="Terça-feira" />
                                <xs:enumeration value="Quarta-feira" />
                                <xs:enumeration value="Quinta-feira" />
                                <xs:enumeration value="Sexta-feira" />
                                <xs:enumeration value="Sábado" />
                                <xs:enumeration value="Domingo" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <!-- End field selectBox --> 

                    <!-- Begin field selectBox -->    
                    <xs:element name="denunciaAnonima"  minOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>4. A Denuncia é Anônima</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Sim" />
                                <xs:enumeration value="Não" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <!-- End field selectBox -->


                    <!-- Begin fieldset - dadosDenunciantes -->    
                    <xs:element name="dadosDenunciantes" minOccurs="0" >
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>* Se NÃO preencha os campos abaixo</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <!-- Begin field Input Text -->    
                                <xs:element name="nome" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>4.1 Nome</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="255" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field Input Text -->
                                        
                                <!-- Begin field Input Text -->    
                                <xs:element name="nomeSocial" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>4.2 Nome Social</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="255" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field Input Text -->

                                <!-- Begin field selectBox -->    
                                <xs:element name="sexo"  minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>4.3 Sexo</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Masculino" />
                                            <xs:enumeration value="Feminino" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field selectBox -->

                                <!-- Begin field selectBox -->    
                                <xs:element name="denunciantePropriaVitima"  minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>4.4  Denunciante é a própria vítima</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Sim" />
                                            <xs:enumeration value="Não" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field selectBox -->
                                
                            </xs:sequence>    
                        </xs:complexType>
                    </xs:element>
                    
                    <!-- End fieldset - dadosDenunciantes -->  



                    <!-- Begin  complexType -->
                    <xs:element name="relacaoVitima">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>5. Relação com a Vítima</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <!-- Begin field selectBox -->    
                                <xs:element name="selectBox"  minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Relação com a Vítima</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Familiar" />
                                            <xs:enumeration value="Sem parentesco" />
                                            <xs:enumeration value="Agente Públicos" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field selectBox -->
                                
                                <!-- Begin field selectBox -->    
                                <xs:element name="selectBox"  minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Preencha o campo de acordo com a escolha acima</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="---- Familiar -----" />
                                            <xs:enumeration value="Mãe" />
                                            <xs:enumeration value="Pai" />
                                            <xs:enumeration value="Responsável Legal" />
                                            <xs:enumeration value="Marido" />
                                            <xs:enumeration value="Mulher" />
                                            <xs:enumeration value="Filho" />
                                            <xs:enumeration value="Filha" />
                                            <xs:enumeration value="Avô" />
                                            <xs:enumeration value="Avó" />
                                            <xs:enumeration value="Irmão" />
                                            <xs:enumeration value="Irmã" />
                                            <xs:enumeration value="Cunhado" />
                                            <xs:enumeration value="Cunhada" />
                                            <xs:enumeration value="Genro" />
                                            <xs:enumeration value="Nora" />
                                            <xs:enumeration value="Sobrinho" />
                                            <xs:enumeration value="sobrinha" />
                                            <xs:enumeration value="Primo" />
                                            <xs:enumeration value="prima" />
                                            <xs:enumeration value="Sogro" />
                                            <xs:enumeration value="Sogra" />
                                            <xs:enumeration value="Neto" />
                                            <xs:enumeration value="Neta" />
                                            <xs:enumeration value="Tio" />
                                            <xs:enumeration value="Tia" />
                                            <xs:enumeration value="Padrato" />
                                            <xs:enumeration value="Madasta" />
                                            <xs:enumeration value="Enteado" />
                                            <xs:enumeration value="Enteada" />
                                            <xs:enumeration value="Bisneto" />
                                            <xs:enumeration value="Bisneta" />
                                            <xs:enumeration value="---- Sem Parentesco -----" />
                                            <xs:enumeration value="Vizinho" />
                                            <xs:enumeration value="Vizinha" />                                            
                                            <xs:enumeration value="Chefe" />
                                            <xs:enumeration value="Colega Trabalho" />
                                            <xs:enumeration value="Colega da Escola" />
                                            <xs:enumeration value="Professor" />
                                            <xs:enumeration value="Professora" />
                                            <xs:enumeration value="---- Agente Públicos -----" />                                            
                                            <xs:enumeration value="Polícia" />
                                            <xs:enumeration value="Guarda Municipal" />
                                            <xs:enumeration value="Segurança Particular" />
                                            <xs:enumeration value="Desconhecido" />

                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field selectBox -->

                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
    
                    <!-- Begin field textarea  -->    
                    <xs:element name="sinteseDoCaso" minOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>6. Sintese do Caso</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <!-- End field textarea  -->

        
                 
        
                       
            </xs:sequence>
        </xs:complexType>
        <!-- End  -->    
        
</xs:schema>   