acao-sdh/schemas/Direitos_Humanos/DDH/sdh-sintese-do-caso-ddh.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh_resumo_violacao_ddh.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh_resumo_violacao_ddh.xsd"
    elementFormDefault="qualified">
        
        <!-- Begin  -->    
        <xs:element name="resumoViolacao" type="resumoViolacao">
            <xs:annotation>
                <xs:appinfo>
                    <xhtml:label>1 - RESUMO DA VIOLAÇÃO</xhtml:label>
                    <class:classificacoes>
                        <class:classificacao>cn=DDH,cn=Atendimento,cn=Direitos Humanos</class:classificacao>
                    </class:classificacoes>
                        <idx:index>
                            <idx:hint key="pessoa.nome" xpath="resumoViolacao/dadosDenunciantes/nome" />
                            <idx:hint key="pessoa.nome" xpath="resumoViolacao/dadosDenunciantes/nomeSocial" />
                        </idx:index>
                </xs:appinfo>
            </xs:annotation>
        </xs:element>        
        
        <xs:complexType name="resumoViolacao">
            <xs:sequence>

                    <!-- Begin field selectBox -->    
                    <xs:element name="denunciaAnonima"  minOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>1. A Denuncia é Anônima</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Sim" />
                                <xs:enumeration value="Não" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <!-- End field selectBox -->


                    <!-- Begin fieldset - dadosDenunciantes -->    
                    <xs:element name="dadosDenunciantes" minOccurs="0" >
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>* Se Denuncia Anônima, preencha Dados do Denunciante</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <!-- Begin field Input Text -->    
                                <xs:element name="nome" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>1.2 Nome</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="255" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field Input Text -->
                                        
                                <!-- Begin field Input Text -->    
                                <xs:element name="nomeSocial" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>1.3 Nome Social</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="255" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field Input Text -->

                                <!-- Begin field selectBox -->    
                                <xs:element name="sexo"  minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>1.4 Sexo</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Masculino" />
                                            <xs:enumeration value="Feminino" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field selectBox -->
                            </xs:sequence>    
                        </xs:complexType>
                    </xs:element>
                    
                    <!-- End fieldset - dadosDenunciantes -->  

                    <!-- Begin field checkbox -->        
                    <xs:element name="rvfamilar" minOccurs="0" type="xs:boolean">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>I. Familiar</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <!-- End field checkbox--> 

                    <!-- Begin  complexType -->
                    <xs:element name="relacaoVitima">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>I.1 Relação com a Vítima se Familiar</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>

                          
                                
                                <!-- Begin field checkbox -->        
                                <xs:element name="mae" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Mãe</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox-->    
                                <!-- Begin field checkbox -->        
                                <xs:element name="pai" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Pai</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox-->                            
                                <!-- Begin field checkbox -->        
                                <xs:element name="responsavelLegal" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Responsável Legal</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox-->  
                                <!-- Begin field checkbox -->        
                                <xs:element name="marido" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Marido</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="mulher" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Mulher</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="filho" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Filho</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox-->
                                <!-- Begin field checkbox -->        
                                <xs:element name="filha" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Filha</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="avo1" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Avô</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="avo2" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Avó</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="irmao" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Irmão</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox-->
                                <!-- Begin field checkbox -->        
                                <xs:element name="irma" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Irmã</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="cunhado" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Cunhado</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="cunhada" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Cunhada</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- Begin field checkbox -->        
                                <xs:element name="genro" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Genro</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox--> 
                                 <!-- Begin field checkbox -->        
                                <xs:element name="nora" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Nora</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- Begin field checkbox -->        
                                <xs:element name="sobrinho" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Sobrinho</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="sobrinha" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>sobrinha</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                 <!-- Begin field checkbox -->        
                                <xs:element name="primo" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Primo</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="prima" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>prima</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="sogro" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Sogro</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="sogra" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Sogra</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="neto" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Neto</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                 <!-- Begin field checkbox -->        
                                <xs:element name="neta" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Neta</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox--> 
                                 <!-- Begin field checkbox -->        
                                <xs:element name="tio" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Tio</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                               <!-- Begin field checkbox -->        
                                <xs:element name="tia" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Tia</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="padrasto" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Padrato</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                           
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="madrasta" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Madasta</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>                          
                                <!-- End field checkbox--> 
                                <!-- Begin field checkbox -->        
                                <xs:element name="enteado" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Enteado</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- Begin field checkbox -->        
                                <xs:element name="enteada" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Enteada</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox--> 
                                 <!-- Begin field checkbox -->        
                                <xs:element name="bisneto" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Bisneto</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                 <!-- Begin field checkbox -->        
                                <xs:element name="bisneta" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Bisneta</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element> 
                                <!-- Begin field checkbox -->        

                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
                                <xs:element name="semParentesco" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>II. Sem parentesco</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox-->        


                                <!-- Begin fieldset - vizinhoFieldset -->    
                                <xs:element name="vizinhoFieldset" minOccurs="0" >
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>II.1 Relação com a Vítima se Sem parentesco</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                         <!-- Begin field checkbox -->        
                                        <xs:element name="vizinho" minOccurs="0" type="xs:boolean">
                                            <xs:annotation>
                                                <xs:appinfo>
                                                    <xhtml:label>Vizinho</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <!-- End field checkbox-->        
                                        
                                        <!-- Begin field checkbox -->        
                                        <xs:element name="vizinha" minOccurs="0" type="xs:boolean">
                                            <xs:annotation>
                                                <xs:appinfo>
                                                    <xhtml:label>Vizinha</xhtml:label>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <!-- End field checkbox-->      

                                          <!-- Begin field checkbox -->        
                                          <xs:element name="chefe" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Chefe</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                          <!-- End field checkbox-->  


                                              <!-- Begin field checkbox -->        
                                                <xs:element name="colega" minOccurs="0" type="xs:boolean">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <xhtml:label>Colega Trabalho</xhtml:label>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:element>
                                                <!-- End field checkbox-->        
                                                
                                                  <!-- Begin field checkbox -->        
                                                  <xs:element name="colegaEscola" minOccurs="0" type="xs:boolean">
                                                      <xs:annotation>
                                                          <xs:appinfo>
                                                              <xhtml:label>Colega da Escola</xhtml:label>
                                                          </xs:appinfo>
                                                      </xs:annotation>
                                                  </xs:element>
                                                  <!-- End field checkbox-->        
                                                      
                                                    <!-- Begin field checkbox -->        
                                                     <xs:element name="professor" minOccurs="0" type="xs:boolean">
                                                        <xs:annotation>
                                                            <xs:appinfo>
                                                                <xhtml:label>Professor</xhtml:label>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                     </xs:element>
                                                    <!-- End field checkbox-->        
                                                            
                                                  <!-- Begin field checkbox -->        
                                                  <xs:element name="professora" minOccurs="0" type="xs:boolean">
                                                      <xs:annotation>
                                                          <xs:appinfo>
                                                              <xhtml:label>Professora</xhtml:label>
                                                          </xs:appinfo>
                                                      </xs:annotation>
                                                  </xs:element>
                                                  <!-- End field checkbox-->   
                                        </xs:sequence>    
                                    </xs:complexType>
                                </xs:element>
                                
                                <!-- End fieldset - vizinhoFieldset -->    

                                <!-- Begin field checkbox -->        
                                <xs:element name="agentePublico" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>III. Agente Públicos</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox--> 

                                <!-- Begin fieldset -  -->    
                                <xs:element name="agentePublicoFieldset" minOccurs="0" >
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>III.1 Relação com a Vítima se Agente Público</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <!-- Begin field checkbox -->        
                                            <xs:element name="policia" minOccurs="0" type="xs:boolean">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>Polícia</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                            </xs:element>
                                            <!-- End field checkbox-->        
                                            
                                            <!-- Begin field checkbox -->        
                                            <xs:element name="guardaMunicipal" minOccurs="0" type="xs:boolean">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>Guarda Municipal</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                            </xs:element>
                                            <!-- End field checkbox-->        
                                            
                                            <!-- Begin field checkbox -->        
                                            <xs:element name="segurancaParticular" minOccurs="0" type="xs:boolean">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>Segurança Particular</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                            </xs:element>
                                            <!-- End field checkbox-->        
                                            
                                            <!-- Begin field checkbox -->        
                                            <xs:element name="desconhecido" minOccurs="0" type="xs:boolean">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>Desconhecido</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                            </xs:element>
                                            <!-- End field checkbox-->   
                                        </xs:sequence>    
                                    </xs:complexType>
                                </xs:element>
                                
                                <!-- End fieldset -  -->     

                      

                    
                    <!-- Begin field textarea  -->    
                    <xs:element name="sinteseDoCaso" minOccurs="1" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>2. Sintese do Caso</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <!-- End field textarea  -->

        
                 
        
                       
            </xs:sequence>
        </xs:complexType>
        <!-- End  -->    
        
</xs:schema>   