acao-sdh/schemas/Direitos_Humanos/DDH/sdh-dados-violador-ddh.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.fortaleza.ce.gov.br/acao/sdh_dados_violador_ddh.xsd"
    xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
    xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
    xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    targetNamespace="http://schemas.fortaleza.ce.gov.br/acao/sdh_dados_violador_ddh.xsd"
    elementFormDefault="qualified">
        
        <!-- Begin  -->    
        <xs:element name="dadosViolador" type="dadosViolador">
            <xs:annotation>
                <xs:appinfo>
                    <xhtml:label>5 - DADOS DO VIOLADOR</xhtml:label>
                    <class:classificacoes>
                        <class:classificacao>cn=DDH,cn=Atendimento,cn=Direitos Humanos</class:classificacao>
                    </class:classificacoes>
                        <idx:index>
                            <idx:hint key="pessoa.nome" xpath="dadosViolador/nome" />
                            <idx:hint key="pessoa.nome" xpath="dadosViolador/nomeSocial" />
                        </idx:index>
                </xs:appinfo>
            </xs:annotation>
        </xs:element>        
        
        <xs:complexType name="dadosViolador">
            <xs:sequence>

                
                <!-- Begin fieldset - fieldsetDadosViolador -->    
                <xs:element name="fieldsetDadosViolador" minOccurs="0" maxOccurs="10" >
                    <xs:annotation>
                        <xs:appinfo>
                            <xhtml:label>Dados do Violador</xhtml:label>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                              <!-- Begin field Input Text -->    
                              <xs:element name="nome" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Nome</xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End field Input Text -->


                              <!-- Begin field Input Text -->    
                              <xs:element name="nomeSocial" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Nome Social</xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End field Input Text -->
                            <!-- Begin  complexType -->
                              <xs:element name="ondePodeEncontrar">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Onde pode ser encontrado  </xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:complexType>
                                      <xs:sequence>

                                          <!-- Begin field checkbox -->        
                                          <xs:element name="trabalho" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Trabalho</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                          <!-- End field checkbox-->    
                                          <!-- Begin field checkbox -->        
                                          <xs:element name="casa" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Casa</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                          <!-- End field checkbox-->                            
                                          <!-- Begin field checkbox -->        
                                          <xs:element name="casaParente" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Casa de parente</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                         
                                          <!-- End field checkbox-->  
                                          <!-- Begin field checkbox -->        
                                          <xs:element name="naRua" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Na rua</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>
                                         
                                          <!-- End field checkbox--> 

                                           
                                           <!-- Begin field checkbox -->        
                                          <xs:element name="outros" minOccurs="0" type="xs:boolean">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Outros</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                          </xs:element>



                                          <!-- Begin field Input Text -->    
                                          <xs:element name="especifiqueOutros" minOccurs="0">
                                              <xs:annotation>
                                                  <xs:appinfo>
                                                      <xhtml:label>Se Outros Especifique Qual</xhtml:label>
                                                  </xs:appinfo>
                                              </xs:annotation>
                                              <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                      <xs:maxLength value="255" />
                                                  </xs:restriction>
                                              </xs:simpleType>
                                          </xs:element>
                                          <!-- End field Input Text -->                                                        

                                      </xs:sequence>
                                  </xs:complexType>
                              </xs:element>

                               <!-- Begin  autocomplete -->
                               <xs:element name="endereco" minOccurs="0">
                                   <xs:annotation>
                                       <xs:appinfo>
                                           <xhtml:label>Endereço</xhtml:label>
                                       </xs:appinfo>
                                       <xsdext:extensions>
                                           <xsdext:engine>autoComplete</xsdext:engine>
                                           <xsdext:service>/enderecos</xsdext:service>
                                       </xsdext:extensions>                                
                                   </xs:annotation>
                                   <xs:simpleType>
                                       <xs:restriction base="xs:string">
                                           <xs:maxLength value="255" />
                                       </xs:restriction>
                                   </xs:simpleType>
                               </xs:element>
                               <!-- End  autocomplete-->

                              <!-- Begin  autocomplete -->
                              <xs:element name="bairro" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Bairro</xhtml:label>
                                      </xs:appinfo>
                                      <xsdext:extensions>
                                          <xsdext:engine>autoComplete</xsdext:engine>
                                          <xsdext:service>/bairros</xsdext:service>
                                      </xsdext:extensions>                                
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End  autocomplete-->
                              


                              <!-- Begin field Input Text -->    
                              <xs:element name="pontoReferencia" minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Ponto de referência </xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:maxLength value="255" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element>
                              <!-- End field Input Text -->

                                      <!-- Begin field selectBox -->  
                              <xs:element name="regional"  minOccurs="0">
                                  <xs:annotation>
                                      <xs:appinfo>
                                          <xhtml:label>Regional</xhtml:label>
                                      </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                          <xs:enumeration value="SER I" />
                                          <xs:enumeration value="SER II" />
                                          <xs:enumeration value="SER III" />
                                          <xs:enumeration value="SER IV" />
                                          <xs:enumeration value="SER V" />
                                          <xs:enumeration value="SER VI" />
                                          <xs:enumeration value="SER CENTRO" />
                                      </xs:restriction>
                                  </xs:simpleType>
                              </xs:element> 

                            <!-- Begin  complexType -->
                    <xs:element name="relacaoVitima">
                        <xs:annotation>
                            <xs:appinfo>
                                <xhtml:label>I.1 Relação com a Vítima se Familiar</xhtml:label>
                            </xs:appinfo>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>

                          
                                <!-- Begin field checkbox -->        
                                <xs:element name="rvfamilar" minOccurs="0" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>I. Familiar</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:element>
                                <!-- End field checkbox--> 
                                <!-- Begin field selectBox -->    
                                <xs:element name="selectBox"  minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>Se Familiar preencha o campo </xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Mãe" />
                                            <xs:enumeration value="Pai" />
                                            <xs:enumeration value="Responsável Legal" />
                                            <xs:enumeration value="Marido" />
                                            <xs:enumeration value="Mulher" />
                                            <xs:enumeration value="Filho" />
                                            <xs:enumeration value="Filha" />
                                            <xs:enumeration value="Avô" />
                                            <xs:enumeration value="Avó" />
                                            <xs:enumeration value="Irmão" />
                                            <xs:enumeration value="Irmã" />
                                            <xs:enumeration value="Cunhado" />
                                            <xs:enumeration value="Cunhada" />
                                            <xs:enumeration value="Genro" />
                                            <xs:enumeration value="Nora" />
                                            <xs:enumeration value="Sobrinho" />
                                            <xs:enumeration value="sobrinha" />
                                            <xs:enumeration value="Primo" />
                                            <xs:enumeration value="prima" />
                                            <xs:enumeration value="Sogro" />
                                            <xs:enumeration value="Sogra" />
                                            <xs:enumeration value="Neto" />
                                            <xs:enumeration value="Neta" />
                                            <xs:enumeration value="Tio" />
                                            <xs:enumeration value="Tia" />
                                            <xs:enumeration value="Padrato" />
                                            <xs:enumeration value="Madasta" />
                                            <xs:enumeration value="Enteado" />
                                            <xs:enumeration value="Enteada" />
                                            <xs:enumeration value="Bisneto" />
                                            <xs:enumeration value="Bisneta" />

                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <!-- End field selectBox -->

                                </xs:sequence>    
                            </xs:complexType>
                        </xs:element>
    

                                
                                <!-- Begin fieldset - vizinhoFieldset -->    
                                <xs:element name="vizinhoFieldset" minOccurs="0" >
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>II.1 Relação com a Vítima se Sem parentesco</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                       
                                            <xs:element name="semParentesco" minOccurs="0" type="xs:boolean">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>II. Sem parentesco</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                            </xs:element>
                                            <!-- End field checkbox-->    
                                       <!-- Begin field selectBox -->    
                                       <xs:element name="selectBox"  minOccurs="0">
                                           <xs:annotation>
                                               <xs:appinfo>
                                                   <xhtml:label>Se Sem parentesco preencha o campo</xhtml:label>
                                               </xs:appinfo>
                                           </xs:annotation>
                                           <xs:simpleType>
                                               <xs:restriction base="xs:string">
                                                  <xs:enumeration value="Vizinho" />
                                                  <xs:enumeration value="Vizinha" />
                                                  <xs:enumeration value="Chefe" />
                                                  <xs:enumeration value="Colega Trabalho" />
                                                  <xs:enumeration value="Colega da Escola" />
                                                  <xs:enumeration value="Professor" />
                                                  <xs:enumeration value="Professora" />
                                               </xs:restriction>
                                           </xs:simpleType>
                                       </xs:element>
                                       <!-- End field selectBox -->
                                        </xs:sequence>    
                                    </xs:complexType>
                                </xs:element>
                                
                                <!-- End fieldset - vizinhoFieldset -->    

 

                                <!-- Begin fieldset -  -->    
                                <xs:element name="agentePublicoFieldset" minOccurs="0" >
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <xhtml:label>III.1 Relação com a Vítima se Agente Público</xhtml:label>
                                        </xs:appinfo>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <!-- Begin field checkbox -->        
                                            <xs:element name="agentePublico" minOccurs="0" type="xs:boolean">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>III. Agente Públicos</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                            </xs:element>
                                            <!-- End field checkbox-->
                                            <!-- Begin field selectBox -->    
                                            <xs:element name="selectBox"  minOccurs="0">
                                                <xs:annotation>
                                                    <xs:appinfo>
                                                        <xhtml:label>Se Agente Públicos preencha o campo</xhtml:label>
                                                    </xs:appinfo>
                                                </xs:annotation>
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Polícia" />
                                                    <xs:enumeration value="Guarda Municipal" />
                                                    <xs:enumeration value="Segurança Particular" />
                                                    <xs:enumeration value="Desconhecido" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:element>
                                            <!-- End field selectBox -->
                                            
                                        </xs:sequence>    
                                    </xs:complexType>
                                </xs:element>
                                
                                <!-- End fieldset -  -->    
                        </xs:sequence>    
                    </xs:complexType>
                </xs:element>
                
                <!-- End fieldset - fieldsetDadosViolador -->    
               
            </xs:sequence>
        </xs:complexType>
        <!-- End  -->    
        
</xs:schema>   
