acao-aldeiadapraia/schemas/aldeiadapraia-reassentamento.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:class="http://schemas.fortaleza.ce.gov.br/acao/classificacao.xsd"
	xmlns="http://schemas.fortaleza.ce.gov.br/habitafor/aldeiadapraia_reassentamento.xsd"
	xmlns:idx="http://schemas.fortaleza.ce.gov.br/acao/indexhint.xsd"
	xmlns:xsdext="http://schemas.fortaleza.ce.gov.br/xsdform/extensions.xsd"
	targetNamespace="http://schemas.fortaleza.ce.gov.br/habitafor/aldeiadapraia_reassentamento.xsd"
	elementFormDefault="qualified">

	<xs:element name="reassentamento" type="reassentamento">
		<xs:annotation>
			<xs:appinfo>
				<xhtml:label>GRUPO REASSENTAMENTO</xhtml:label>
				<class:classificacoes>
					<class:classificacao>cn=Aldeia da Praia,cn=Habitação</class:classificacao>
				</class:classificacoes>
				<idx:index>
				</idx:index>

			</xs:appinfo>
		</xs:annotation>
	</xs:element>
				
	<xs:complexType name="reassentamento">
		<xs:sequence>
			<xs:element name="data" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="motivo" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Motivo</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Venda/Compra" />
						<xs:enumeration value="Troca" />
						<xs:enumeration value="Aluguel" />
						<xs:enumeration value="Outras Informações" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nome" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Nome novo titular</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataNascimento" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Data de Nascimento</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="idade" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Idade</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rg" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>RG</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cpf" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>CPF</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nis" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>NIS</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="telefone" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Telefone</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="declaracaoCompraVenda" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui declaração de compra e venda</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qtdComponentesFam" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Quantos Componentes na família?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="coabitacao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tem coabitação</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="tipologiaUso" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipologia de Uso</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Residencial" />
						<xs:enumeration value="Comercial" />
						<xs:enumeration value="Misto" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoMoradia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Tipo de Moradia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Própria" />
						<xs:enumeration value="Herança" />
						<xs:enumeration value="Cedida" />
						<xs:enumeration value="Alugada" />
						<xs:enumeration value="Trocada" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoDeficiencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Algum tipo de Deficiência?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Sim" />
						<xs:enumeration value="Não" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="qualTipoDeficiencia" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Se sim, Qual Tipo de Deficiencia</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="necessiAdaptImovel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Necessita de adaptação no imóvel?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rendaFam" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Renda Familiar: </xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maiorDe60NaFam" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui alguém na família acima de 60 anos?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="possuiAnimalEstimacao" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui algum animal de estimação?</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="possuiAutomovel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Possui alugm automovel</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Carro" />
						<xs:enumeration value="Moto" />
						<xs:enumeration value="Não Possui" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
				<xs:element name="bairros"  minOccurs="0" maxOccurs="10">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Bairros</xhtml:label>
						</xs:appinfo>
						<xsdext:extensions>
							<xsdext:engine>autoComplete</xsdext:engine>
							<xsdext:service>/bairros</xsdext:service>
						</xsdext:extensions>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

			<xs:element name="composicaoFamiliar" minOccurs="0" maxOccurs="20">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Composição familiar</xhtml:label>
					</xs:appinfo>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>

						<xs:element name="nomeParente" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Nome parente</xhtml:label>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="grauDeParentesco" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<xhtml:label>Grau de parentesco</xhtml:label>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
					<xs:element name="idade" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<xhtml:label>Idade</xhtml:label>
							</xs:appinfo>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>

					</xs:sequence>
				</xs:complexType>

			</xs:element>
						
						
						

			<xs:element name="parecerSocial" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Parecer Social:</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element name="responsavel" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<xhtml:label>Responsavel</xhtml:label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
